venv/
idata/
.idea/
.DS_Store
__pycache__/
**/*.pyc
**/*.swp
data/
weights/
.vscode/
*.egg-info
*/config.local.json
.env
weights_tf_1/
preprocessing*
venv*
**/error_0.err
**/output_0.out
experiments/
